<div class="card" style="width: 18rem;">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" class="card-img-top"
        alt="WINTERFELL">
    <div class="card-body">
        <h5 class="card-title">WINTERFELL</h5>
        <p class="card-text">Esta agenda virtual te ayudara a guardar, tus notas importantes, agendar citas,
            recordatorios y tener a la mano todas las notas necesarias para tu dia a dia.</p>
        <a href="#" class="btn btn-primary">A usarla!!</a>
    </div>
</div>