<section class="" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                        style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">WINTERFELL</h4>
                                </div>

                                <form>
                                    <p>Ingrese sus datos</p>

                                    <div class="form-outline mb-4">
                                        <input type="email" id="form2Example11" class="form-control"
                                            placeholder="Ingresa email" [(ngModel)]="email" name="email" />
                                        <label class="form-label" for="form2Example11">Usuario</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example22" class="form-control"
                                            placeholder="Ingresa Contraseña" [(ngModel)]="clave" name="clave" />
                                        <label class="form-label" for="form2Example22">Contraseña</label>
                                    </div>
                                    <div class="col-12" *ngIf="error==true">
                                        <span style="color: red;">Email o contraseña incorrecta</span><br>
                                    </div>
                                    <div class="text-center pt-1 mb-5 pb-1">

                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                            type="button" (click)="consulta('')">Iniciar Sesion</button><br>
                                        <a class=" text-muted" href=""> No te acuerdas de tu contraseña?</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">No tienes Usuario?</p>
                                        <a href="registro">
                                            <button type="button" class="btn btn-outline-danger">Crear Usuario</button>
                                        </a>

                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">¿Porque usar WINTERFELL?</h4>
                                <p class="small mb-0">La razón de usar una agenda virtual, es ayudarte a ser más
                                    productivo y eficiente en la gestión de tu tiempo. Te permite tener un registro de
                                    tus actividades y tareas pendientes en un solo lugar, lo que te ayuda a planificar
                                    mejor tu día, semana o mes. Además, puedes compartir tu agenda con otras personas,
                                    lo que facilita la coordinación de reuniones y eventos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>