<h1 class="text-center">NO ENCONTRO PAGINA</h1>
<section><!--satellite-->
    <div class="z1"><img class="sat-img animated-satellite infinite flyBy"
            src="https://assets.prezicdn.net/assets-versioned/prezipage-versioned/5110-ae308eb/common/img/dragon/error_pages/404/satellite.svg">
    </div>
    <!-- Error code -->
    <div class="text-center">
        <img class="error-img"
            src="https://assets.prezicdn.net/assets-versioned/prezipage-versioned/5110-ae308eb/common/img/dragon/error_pages/404/404.svg">
    </div>
</section>