<app-navegador></app-navegador>
<div class="container">
    <h1>WINTERFELL</h1>

    <p>La razón de usar una agenda virtual, es ayudarte a ser más
        productivo y eficiente en la gestión de tu tiempo. Te permite tener un registro de
        tus actividades y tareas pendientes en un solo lugar, lo que te ayuda a planificar
        mejor tu día, semana o mes. Además, puedes compartir tu agenda con otras personas,
        lo que facilita la coordinación de reuniones y eventos.</p>

    <h2>Beneficios</h2>
    <p>Una agenda virtual ofrece una serie de beneficios que pueden hacer que la gestión de tu tiempo y tus tareas
        diarias sea más eficiente y organizada. Algunos de los beneficios más destacados son:</p>
    <ul>
        <li><strong>Accesibilidad:</strong> Puedes acceder a tu agenda virtual desde cualquier dispositivo con conexión
            a Internet, lo
            que te permite consultar tus citas y tareas en cualquier momento y lugar.
        </li>
        <li><strong>Organización:</strong> Te permite organizar tus citas, reuniones, eventos y tareas de
            manera
            estructurada, lo que te ayuda a priorizar y planificar tu día de forma eficiente.
        </li>
        <li><strong>Recordatorios y notificaciones:</strong> Las agendas virtuales suelen ofrecer la opción de
            configurar
            recordatorios y
            notificaciones, lo que te ayuda a no olvidar citas importantes y a cumplir con tus plazos.
        </li>
        <li>
            <strong>Flexibilidad:</strong> Puedes modificar y ajustar tu agenda con facilidad, cambiar citas,
            reprogramar eventos, y adaptar tu horario según tus necesidades en tiempo real.
        </li>

    </ul>
    <section>

    </section>
</div>